Options -Indexes +ExecCGI
AddHandler cgi-script .pl
DirectoryIndex awstats.pl

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.mirkogame.pl$ [NC]
RewriteRule ^(.*)$ http://mirkogame.pl/awstats/$1 [R=301,L]
